*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #c1bdba;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #cc0000;
  -webkit-transition: .5s ease;
          transition: .5s ease;
}
a:hover {
  color: #cc3300;
}

.form {
  background: #ffffff;
  padding: 40px;
  max-width: 1200px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #000000;
  font-size: 20px;
  float: left;
  width: 20%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
          transition: .5s ease;
}
.tab-group li a:hover {
  background: #cc0000;
  color: #ffffff;
}
.tab-group .active a {
  background: #cc3300;
  color: #ffffff;
}
.tab-group2 {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group2:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group2 li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #000000;
  font-size: 20px;
  float: left;
  width: 20%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
          transition: .5s ease;
}
.tab-group2 li a:hover {
  background: #cc0000;
  color: #ffffff;
}

.tab-content > div:nth-child(2) {
  display: none;
}
.tab-content > div:nth-child(3) {
  display: none;
}
.tab-content > div:nth-child(4) {
  display: none;
}
.tab-content > div:nth-child(5) {
  display: none;
}
.tab-content > div:nth-child(6) {
  display: none;
}
.tab-content > div:nth-child(7) {
  display: none;
}
.tab-content > div:nth-child(8) {
  display: none;
}
.tab-content > div:nth-child(9) {
  display: none;
}
.tab-content > div:nth-child(10) {
  display: none;
}



h1 {
  text-align: center;
  color: #000000;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #cc0000;
}

label.active {
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #000000;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
          transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 2px 0;
  font-size: 20pt;
  font-weight: 6;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #c1bdba;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  -webkit-appearance: none;
}

.button:hover, .button:focus {
  background: #cc3300;
  color: #ffffff;
}

.button-block {
  display: block;
  width: 15%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
.table {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #ffffff;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.table table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.table tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.table table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.table table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.table tr:hover td{
	background-color:#d3e9ff;
		

}
.table td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:20px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.table tr:last-child td{
	border-width:0px 1px 0px 0px;
}.table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.table tr:first-child td{
		background:-o-linear-gradient(bottom, #c1bdba 5%, #c1bdba 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c1bdba), color-stop(1, #c1bdba) );
	background:-moz-linear-gradient( center top, #c1bdba 5%, #c1bdba 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#c1bdba", endColorstr="#c1bdba");	background: -o-linear-gradient(top,#c1bdba,c1bdba);

	background-color:#c1bdba;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:24px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #cc3300 5%, #cc3300 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cc3300), color-stop(1, #cc3300) );
	background:-moz-linear-gradient( center top, #cc3300 5%, #cc3300 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc3300", endColorstr="#cc3300");	background: -o-linear-gradient(top,#cc3300,cc3300);

	background-color:#cc3300;
}
.table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.outer{position:relative}
.inner {
  overflow-x:scroll;
  overflow-y:visible;
  max-width:1200px; 
  margin-left:0px;
  
}